<!DOCTYPE html>
<html ng-app="datepickerApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css">
	<style>
   	.datepicker {
	  border-radius:0;
	  width: auto;
	  display: inline-block;
	}
	</style>
	<script type="text/template" id="datepickerTemplate">
	  <input ng-if="settings.showDay" ng-model="date.day" class="form-control datepicker" type="text" size="2" maxlength="2"
	 ><select ng-if="settings.showMonth" ng-model="date.month" class="form-control datepicker" name="month" ng-options="month as month for month in months"></select
     ><input ng-if="settings.showYear" ng-model="date.year" class="form-control datepicker" type="text" name="year" size="4" maxlength="4">
    </script>
	<script>
      angular.module("datepickerApp", [])
	  .directive("myDatepicker", function() {
	    return {
          scope: {
            dt: "=value"	  
	      },
		  link: function(scope, element, attrs) {
		    var dateFormat = 'ddMMyyyy'
		    if (attrs['format']) {
			  dateFormat = attrs['format']
			}
			scope.settings = {
		      showDay: false,
		      showMonth: false,
		      showYear: false
		    }
            scope.settings.showDay = /dd/.test(dateFormat)
            scope.settings.showMonth = /MM/.test(dateFormat)
            scope.settings.showYear = /yy/.test(dateFormat)
			  
            scope.months = []
			if (/MMMM/.test(dateFormat)) {
			 scope.months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
			}
			else if (/MMM/.test(dateFormat)) {
			  scope.months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
			}
			else if (/MM/.test(dateFormat)) {
			  scope.months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
			}

			scope.date = {
			  day: scope.dt.getDate(),
			  month: scope.months[scope.dt.getMonth()],
			  year: scope.dt.getFullYear()
			}

	        //watchers
			scope.$watch('date.day', function(newValue) {
			  scope.dt.setDate(newValue)
	        });

			scope.$watch('date.month', function(newValue) {
			  for (var i=0; i<scope.months.length; i++) {
			    if (newValue == scope.months[i]){
				  scope.dt.setMonth(i)
				}
			  }
	        });

			scope.$watch('date.year', function(newValue) {
			  scope.dt.setFullYear(newValue)
	        });
		  },
		  template: function() {
		    return angular.element(document.querySelector("#datepickerTemplate")).html()
		  }
		}
	  })
	  .controller("datepickerCtrl", function($scope) {
		$scope.dateValue = new Date()
	  })
	</script>
  </head>
  <body ng-controller="datepickerCtrl">
    <div my-datepicker format="ddMMMyyyy" value="dateValue" class="form-group" style="margin: 20px;"></div>
	<div style="margin: 20px;">
	  <span>{{dateValue.toDateString()}}</span>
	</div>
  </body>
</html>